---
layout: layout
---
<!-- Page Header --> <!-- style="background-image: url('<%= config.root %><%= page["header-img"] || config["header-img"] %>')" -->
<header class="intro-header">
    <div class="center-wrapper">
        <div class="site-heading">
            <h1><%= page.title || config.title %></h1>
            <!--<hr class="small">-->
            <span class="subheading"><%= page.subtitle || config.subtitle || "" %></span>
        </div>
    </div>
</header>


<!-- Main Content -->
<div class="center-wrapper post-container">

    <%- page.content || body %>

    <!-- 如果开启评论功能 -->
    <% if(page.comments) { %>
        <hr>

        <% if(config['duoshuo_username']) { %>
            <!-- 多说评论框 start -->
            <div class="comment">
                <div class="ds-thread"
                     data-thread-key="<%= page.path %>"
                     data-title="<%= page.title %>"
                     data-url="<%= page.permalink %>">
                </div>
            </div>
            <!-- 多说评论框 end -->
        <% } %>
        <!--
                    <% if(config['disqus_username']) { %>
                    <div class="comment">
                        <div id="disqus_thread" class="disqus-thread"></div>
                    </div>
                    <% } %>
-->

        <!--<% if(config['disqus_username']) { %>-->
        <!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
        <!--<script type="text/javascript">-->
        <!--/* * * CONFIGURATION VARIABLES * * */-->
        <!--var disqus_shortname = "<%= config['disqus_username'] %>";-->
        <!--var disqus_identifier = "<%= page.permalink %>";-->
        <!--var disqus_url = "<%= page.permalink %>";-->

        <!--(function() {-->
        <!--var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;-->
        <!--dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';-->
        <!--(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);-->
        <!--})();-->


        <!--</script>-->
        <!-- disqus 公共JS代码 end -->
        <!--<% } %>-->
    <% } %>
</div>
